﻿@page "/{ChatName}/{SearchId}"
@using System.Linq.Expressions

@inject IMongoClient MongoClient
@inject SearchRepository SearchRepository
@inject NavigationManager NavMan

<div class="chat-container">
    <div class="chat">
        <div class="chat-history">
            @if (_messages != null)
            {
                <ul>
                    @for (var i = 0; i < _messages.Count(); i++)
                    {
                        var message = _messages[i];

                        <li class="clearfix hoverable" @onclick="() => GoToDetail(message.Id.ToString())">
                            <Message MessageData="@message" ChatName="@ChatName" />
                        </li>
                    }
                </ul>
            }
            else
            {
                if (_loadingError)
                {
                    <span>Error loading search entry</span>
                }
                else
                {
                    <em>Loading...</em>
                }
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string ChatName { get; set; }

    [Parameter]
    public string SearchId { get; set; }

    private IList<TelegramMessage> _messages;

    private bool _loadingError;

    private MessageRepository MessageRepository => new MessageRepository(MongoClient, ChatName);

    protected override async Task OnInitializedAsync()
    {
        if (!ObjectId.TryParse(SearchId, out var searchObjectId))
        {
            _loadingError = true;
            return;
        }

        var searchEntry = await SearchRepository.GetAsync(searchObjectId);

        if (searchEntry == null || searchEntry.IsExpired)
        {
            _loadingError = true;
            return;
        }

        _messages = await MessageRepository.FindMessagesAsync(searchEntry.Keywords);
    }

    private void GoToDetail(string id)
    {
        NavMan.NavigateTo($"/{ChatName}/{SearchId}/{id}");
    }
}
