﻿@page "/{ChatName}/{SearchId}/{MessageId}"

@inject IMongoClient MongoClient
@inject SearchRepository SearchRepository

@if (_messages == null)
{
    if (_loadingError)
    {
        <span>Error loading search entry</span>
    }
    else
    {
        <em>Loading...</em>
    }
}
else
{
    <ChatContainer Messages="@_messages" SelectedMessageId="@MessageId" OnPreviousClick="@LoadPrevious" OnNextClick="@LoadNext" ChatName="@ChatName"></ChatContainer>
}

@code {
    [Parameter]
    public string ChatName { get; set; }

    [Parameter]
    public string SearchId { get; set; }

    [Parameter]
    public string MessageId { get; set; }

    private bool _loadingError;

    private List<TelegramMessage> _messages;
    private MessageRepository MessageRepository => new MessageRepository(MongoClient, ChatName);

    protected override async Task OnInitializedAsync()
    {
        if (!ObjectId.TryParse(SearchId, out var searchObjectId))
        {
            _loadingError = true;
            return;
        }

        var searchEntry = await SearchRepository.GetAsync(searchObjectId);

        if (searchEntry == null || searchEntry.IsExpired)
        {
            _loadingError = true;
            return;
        }

        if (!ObjectId.TryParse(MessageId, out var messageObjectId))
        {
            _loadingError = true;
            return;
        }

        var telegramMessage = await MessageRepository.GetAsync(messageObjectId);

        _messages = (await MessageRepository.GetRangeAsync(telegramMessage.MessageId)).ToList();
    }

    private async Task LoadPrevious()
    {
        var id = _messages.First().MessageId;
        var messages = await MessageRepository.GetPreviousAsync(id);
        _messages.InsertRange(0, messages);
    }

    private async Task LoadNext()
    {
        var id = _messages.Last().MessageId;
        var messages = await MessageRepository.GetNextAsync(id);
        _messages.AddRange(messages);
    }
}
