﻿@inject IJSRuntime JsRuntime

<div class="chat-container">
    <div class="chat">
        <div class="chat-history">
            <ul>
                @if (OnPreviousClick.HasDelegate)
                {
                    <li><button class="btn btn-primary" @onclick="OnPreviousClick">Load Previous ...</button></li>
                }

                @for (var i = 0; i < Messages.Count(); i++)
                {
                    var message = Messages[i];
                    var groupWithBefore = i > 0 && Messages[i - 1].FromId == Messages[i].FromId;

                    <li id="@($"m-{message.Id}")" class="@GetListClass(message.Id.ToString(), groupWithBefore)">
                        <Message MessageData="@message" GroupWithBefore="@groupWithBefore" ChatName="@ChatName" />
                    </li>
                }

                @if (OnNextClick.HasDelegate)
                {
                    <li><button class="btn btn-primary" @onclick="OnNextClick">Load Next ...</button></li>
                }
            </ul>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string ChatName { get; set; }

    [Parameter]
    public IList<TelegramMessage> Messages { get; set; }

    [Parameter]
    public string SelectedMessageId { get; set; }

    [Parameter]
    public EventCallback OnPreviousClick { get; set; }

    [Parameter]
    public EventCallback OnNextClick { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("scrollToMessage", $"m-{SelectedMessageId}");
        }
    }

    private string GetListClass(string messageId, bool groupWithBefore)
    {
        var style = SelectedMessageId == messageId
            ? "selected clearfix"
            : "clearfix";

        if (groupWithBefore)
            style += " grouped-message";

        return style;
    }
}
