﻿@using Microsoft.AspNetCore.Html
@using System.Text.RegularExpressions
@if (!GroupWithBefore)
{
    <div class="message-data">
        <span class="message-data-name">@MessageData.From</span> <i class="fa fa-circle me"></i>
        <span class="message-data-time">@MessageData.Date</span> &nbsp; &nbsp;
        @if (MessageData.ForwardedFrom != null)
        {
            <span class="message-data-time" style="font-style: italic">-- Forwarded from @MessageData.ForwardedFrom</span>
        }
    </div>
}
<div class="@MessageClass">
    @if (MessageData.Photo != null)
    {
        <div class="m-image" style="@($"background-image: url('{ChatName}/{MessageData.Photo}');")"></div>
    }
    @if (MessageData.File != null)
    {
        if (MessageData.MediaType == "voice_message")
        {
            <audio controls>
                <source src="@($"{ChatName}/{MessageData.File}")" type="@MessageData.MimeType">
            </audio>
        }
        else if (MessageData.MediaType == "video_message")
        {
            <video controls poster="@($"{ChatName}/{MessageData.Thumbnail}")" preload="none">
                <source src="@($"{ChatName}/{MessageData.File}")" type="@MessageData.MimeType">
            </video>
        }
        else if (MessageData.MediaType == "animation")
        {
            <video poster="@($"{ChatName}/{MessageData.Thumbnail}")" autoplay="autoplay" loop="loop">
                <source src="@($"{ChatName}/{MessageData.File}")" type="@MessageData.MimeType">
            </video>
        }
        else
        {
            @if (MessageData.MimeType?.StartsWith("image") == true)
            {
                <div class="m-image" style="@($"background-image: url('{ChatName}/{MessageData.Thumbnail}');")"></div>
            }
            else
            {
                <div><a target="_blank" href="@($"{ChatName}/{MessageData.File}")">@MessageData.File</a></div>
            }
        }
    }
    @((MarkupString)_urlRegex.Replace(MessageData.Text, x => $"<a target=\"_blank\" href=\"{x.Value}\">{x.Value}</a>").Replace("\n", "<br>")) @MessageData.StickerEmoji
    @if (_ytRegex.IsMatch(MessageData.Text))
    {
        <div>@GetYoutubeEmbed(_ytRegex.Match(MessageData.Text).Groups["id"].Value)</div>
    }
</div>

@code {
    [Parameter]
    public string ChatName { get; set; }

    [Parameter]
    public TelegramMessage MessageData { get; set; }

    [Parameter]
    public bool GroupWithBefore { get; set; }

    private Regex _urlRegex = new Regex(@"(http[^\s]+)");
    private Regex _ytRegex = new Regex(@"(youtu\.be/|youtube\.com/watch\?v=)(?<id>[^\s]+)");

    private string MessageClass => "message my-message " + (GroupWithBefore
        ? ""
        : "main-message");

    private MarkupString GetYoutubeEmbed(string ytVideoId)
    {
        return (MarkupString) $"<iframe width=\"365\" height=\"200\" src=\"https://www.youtube-nocookie.com/embed/{ytVideoId}\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>";
    }
}
